@media only screen and (min-width: 414px) and (max-width: 767px) {
  .letter {
    display: inline-block;
    font-weight: 700;
    font-size: 200px;
    line-height: 351px;
    color: #2B9D8E;

  }
}
