@import "reset.css";
/* я видела подключение файлов стилей, где вместо названия папки стоит точка, почему так? */
@import url('https://fonts.cdnfonts.com/css/mahone-sans');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');

@import "ecran1440x900.css";
/* @import "./ecran1920x1080.css";
@import "./ecran1366x768.css";
@import "./ecran1024x768.css";
@import "./ecran768x1024.css";
@import "./ecran414x896.css";
@import "./ecran360x640.css"; */

body {
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #ECA369;
  overflow-x: hidden;

}
